{% extends 'base.html' %}

{% block title %} Bulk Create Users - {{ block.super }} {% endblock %}

{% block content %}
    <h2>Crie usuarios em Massa</h2>

    {% if message %}
        <div class="success">
            {{ message }}
        </div>
    {% endif %}

    <form method="POST" action="" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div>
            <label for="name">Faça o upload do arquivo CSV:</label>
            <input type="file" id="csv" name="csv" accept=".csv"/>
        <div>

        <input id="button" type="submit" value="enviar"/>
    </form>
{% endblock %}